<div class="container">
  <div class="greeting">
    <h1>Hi I'm</h1>
    <h1 class="heading"><strong>Lachsfilet</strong></h1>
    <p>a <strong>self</strong> taught <strong>fullstack</strong> developer.</p>
    <p>
      i create <strong>websites</strong> & <strong>webapplications</strong> from
      scratch.
    </p>
    <a href="#projects">
      <button class="skill-set">My Projects</button>
    </a>
  </div>

  <div class="about-me">
    <h1>About Me</h1>
    <p>
      Hello! I'm <strong>Lachsfilet</strong>, a
      <strong>13-year-old</strong> developer passionate about crafting digital
      wonders.<br />
      My coding journey started at <strong>9</strong>, dreaming of Minecraft
      plugins. With no PC, I <strong>sketched</strong> Java code.<br />
      At <strong>10</strong>, I began coding, mastering Java for Minecraft. At
      <strong>11</strong>, I switched to Python for scripting tasks.<br />
      At <strong>11.5</strong>, I discovered web development, learning HTML/CSS.
      By <strong>12</strong>, I explored Angular, delving into
      JavaScript/TypeScript.<br />
      At <strong>13</strong>, I ventured into backend with Express.js and
      Django.<br />
      My path is filled with challenges and triumphs, fueled by curiosity and a
      drive to innovate.<br />
      I look forward to the next chapter, ready to push boundaries and bring my
      digital dreams to life.
    </p>
  </div>

  <div id="graph" class="bar-graph bar-graph-horizontal bar-graph-one">
    <h1 style="font-size: xx-large">My Skillset</h1>
    <div class="bar-one">
      <span class="year">HTML/CSS</span>
      <div class="bar" data-percentage="70%"></div>
    </div>
    <div class="bar-two">
      <span class="year">JavaScript</span>
      <div class="bar" data-percentage="71%"></div>
    </div>
    <div class="bar-three">
      <span class="year">TypeScript</span>
      <div class="bar" data-percentage="74%"></div>
    </div>
    <div class="bar-four">
      <span class="year">Python</span>
      <div class="bar" data-percentage="60%"></div>
    </div>
  </div>
  <div id="projects">
    <h1 style="font-size: xxx-large">Projects</h1>
    <p>coming soon.</p>
  </div>
</div>
